<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>

<form method="post" action="/calc1">
    <label>СЛОЖЕНИЕ</label>
    <input type="input" name="Int1">
    <input type="input" name="Int2">
    <input type="submit" value="+">
</form>

<br><br>

<form method="post" action="/calc2">
<label>ВЫЧИТАНИЕ</label>
    <input type="input" name="Int11">
    <input type="input" name="Int22">
<input type="submit" value="-">
</form>

<br><br>

<form method="post" action="/calc3">
<label>УМНОЖЕНИЕ</label>
    <input type="input" name="Int111">
    <input type="input" name="Int222">
<input type="submit" value="*">
</form>

<br><br>

<form method="post" action="/calc4">
<label>ДЕЛЕНИЕ</label>
    <input type="input" name="Int1111">
    <input type="input" name="Int2222">
<input type="submit" value="/">
</form>

</body>
</html>